.logo {
  &__img {
    width: 48px;
    height: 48px;

    @media screen and (min-width: $table) {
      width: 56px;
      height: 56px;
    }

    @media screen and (min-width: $desktop) {
      width: 56px;
      height: 56px;
    }
  }
}
